@forward "./fonts";
@forward "./layout";
@import "./variables";
@import "../components/navbar/navBar";
@import "../components/searchbar/searchBar";
@import "../pages/home/apartmentslist/apartmentsList";
@import "../components/apartmentcard/apartmentCard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
