@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
.nav {
  width: 100%;
  padding: 30px 0 50px;
  background-color: #003b95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav .nav__wrapper {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav .nav__wrapper .nav__logo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 34px;
}
.nav .nav__wrapper .nav__user-icon {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1150px) {
  .nav .nav__wrapper {
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 800px) {
  .nav {
    padding: 20px 0 40px;
  }
}
@media screen and (max-width: 400px) {
  .nav .nav__wrapper .nav__logo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 20px;
  }
  .nav .nav__wrapper .nav__user-icon {
    width: 30px;
    height: 30px;
  }
}
.search-bar {
  position: absolute;
  bottom: -30px;
  background-color: #ffb700;
  border-radius: 8px;
  padding: 4px;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-bar .search-bar__date,
.search-bar .search-bar__person-number,
.search-bar .search-bar__amenities {
  position: relative;
  margin-right: 4px;
  border-radius: 4px;
  background-color: #fff;
  width: 33%;
  cursor: pointer;
}
.search-bar .search-bar__date p,
.search-bar .search-bar__person-number p,
.search-bar .search-bar__amenities p {
  padding: 16px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 14px;
  line-height: 20px;
}
.search-bar .search-bar__button {
  border: none;
  padding: 0 24px;
  border-radius: 4px;
  background-color: #006ce4;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.search-bar .search-bar__button:hover {
  background-color: #003b95;
}
@media screen and (max-width: 1150px) {
  .search-bar {
    width: 95%;
  }
}
@media screen and (max-width: 800px) {
  .search-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    top: 75px;
    height: 227px;
  }
  .search-bar .search-bar__date,
  .search-bar .search-bar__person-number,
  .search-bar .search-bar__amenities {
    width: 100%;
    margin-right: 0;
  }
  .search-bar .search-bar__button {
    padding: 16px 0;
  }
}
@media screen and (max-width: 400px) {
  .search-bar {
    top: 65px;
  }
}
.main {
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main .main__wrapper {
  width: 1100px;
}
@media screen and (max-width: 1150px) {
  .main .main__wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 800px) {
  .main {
    padding-top: 230px;
  }
}
.nav-bar-search-bar__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.error {
  width: 100%;
  padding: 100px 0 0 50px;
}
.error .error__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #353535;
  font-size: 48px;
}
.apartment-card {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  padding: 30px;
  margin-bottom: 25px;
}
.apartment-card:last-child {
  margin-bottom: 0;
}
.apartment-card .apartment-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.apartment-card .apartment-card__wrapper .apartment-card__image {
  margin-right: 20px;
  border-radius: 16px;
}
.apartment-card .apartment-card__wrapper .apartment-card__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.apartment-card
  .apartment-card__wrapper
  .apartment-card__text-content
  .apartment-card__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #353535;
  font-size: 32px;
}
.apartment-card
  .apartment-card__wrapper
  .apartment-card__text-content
  .apartment-card__capacity-distance-wrapper
  .apartment-card__capacity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #343a40;
  font-size: 20px;
  margin-bottom: 10px;
}
.apartment-card
  .apartment-card__wrapper
  .apartment-card__text-content
  .apartment-card__capacity-distance-wrapper
  .apartment-card__distance {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #343a40;
  font-size: 20px;
}
.apartment-card
  .apartment-card__wrapper
  .apartment-card__text-content
  .apartment-card__button {
  border: 1px solid #003b95;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #003b95;
  font-size: 18px;
  cursor: pointer;
}
.apartment-card
  .apartment-card__wrapper
  .apartment-card__text-content
  .apartment-card__button:hover {
  border-color: #006ce4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #006ce4;
  font-size: 18px;
}
@media screen and (max-width: 680px) {
  .apartment-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .apartment-card .apartment-card__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .apartment-card .apartment-card__wrapper .apartment-card__image {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
  }
  .apartment-card
    .apartment-card__wrapper
    .apartment-card__text-content
    .apartment-card__title {
    margin-bottom: 7px;
  }
  .apartment-card
    .apartment-card__wrapper
    .apartment-card__text-content
    .apartment-card__capacity-distance-wrapper
    .apartment-card__distance {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .apartment-card .apartment-card__wrapper .apartment-card__image {
    width: 250px;
    height: auto;
    margin-bottom: 15px;
  }
  .apartment-card
    .apartment-card__wrapper
    .apartment-card__text-content
    .apartment-card__title {
    font-size: 24px;
  }
  .apartment-card
    .apartment-card__wrapper
    .apartment-card__text-content
    .apartment-card__capacity-distance-wrapper
    .apartment-card__capacity,
  .apartment-card
    .apartment-card__wrapper
    .apartment-card__text-content
    .apartment-card__capacity-distance-wrapper
    .apartment-card__distance {
    font-size: 14px;
  }
  .apartment-card
    .apartment-card__wrapper
    .apartment-card__text-content
    .apartment-card__button {
    width: 100%;
  }
}
.apartment-details {
  border-top: 1px solid #868e96;
  margin-top: 25px;
}
.apartment-details .apartment-details__amenities,
.apartment-details .apartment-details__availability {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #353535;
  font-size: 24px;
}
.apartment-details .apartment-details__amenities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}
.apartment-details
  .apartment-details__amenities-wrapper
  .apartment-details__amenitie {
  border: 1px solid #868e96;
  border-radius: 8px;
  padding: 20px 130px 20px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 12px;
}
.apartment-details .apartment-details__availability-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.apartment-details
  .apartment-details__availability-details
  .apartment-details__date,
.apartment-details
  .apartment-details__availability-details
  .apartment-details__price,
.apartment-details
  .apartment-details__availability-details
  .apartment-details__no-date-warning {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 20px;
}
.apartment-details
  .apartment-details__availability-details
  .apartment-details__no-date-warning {
  max-width: 350px;
}
.apartment-details
  .apartment-details__availability-details
  .apartment-details__button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #003b95;
  padding: 10px 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.apartment-details
  .apartment-details__availability-details
  .apartment-details__button:hover {
  background-color: #006ce4;
}
@media screen and (max-width: 680px) {
  .apartment-details .apartment-details__availability-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.footer {
  background-color: #003b95;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer .footer__wrapper {
  width: 1100px;
  padding: 30px 0;
}
.footer .footer__wrapper .footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 24px;
}
@media screen and (max-width: 1150px) {
  .footer .footer__wrapper {
    width: 100%;
    padding: 30px;
  }
}
@media screen and (max-width: 400px) {
  .footer .footer__wrapper {
    padding: 20px;
  }
  .footer .footer__wrapper .footer__text {
    font-size: 14px;
  }
}
.reservation__success {
  width: 100%;
  padding: 50px 0;
}
.reservation__success .reservation__success-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 40px;
}
.reservation__success
  .reservation__success-title
  .reservation__success-title-apartment {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #353535;
  font-size: 40px;
}
.apartment-details__title,
.reservation-details__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #353535;
  font-size: 32px;
  margin-bottom: 25px;
}
.reservation__back-to-home-link .reservation__back-to-home-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #003b95;
  padding: 10px 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.reservation__back-to-home-link .reservation__back-to-home-button:hover {
  background-color: #006ce4;
}
@media screen and (max-width: 800px) {
  .main-reservation {
    padding-top: 60px;
  }
}
@media screen and (max-width: 680px) {
  .main-reservation {
    padding: 30px 20px;
  }
}
.reservation-receipt__table {
  width: 100%;
  border: 1px solid #353535;
  border-collapse: collapse;
  margin-bottom: 32px;
}
.reservation-receipt__table .reservation-receipt__table-header {
  background-color: #006ce4;
}
.reservation-receipt__table
  .reservation-receipt__table-header
  .reservation-receipt__table-header-piece {
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 18px;
  border: 1px solid #353535;
}
.reservation-receipt__table .reservation-receipt__table-body {
  background-color: #e8e8e8;
}
.reservation-receipt__table
  .reservation-receipt__table-body
  .reservation-receipt__table-body-piece {
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 18px;
  border: 1px solid #353535;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .reservation-receipt__table
    .reservation-receipt__table-header
    .reservation-receipt__table-header-piece {
    padding: 10px 0;
    font-size: 12px;
  }
  .reservation-receipt__table
    .reservation-receipt__table-body
    .reservation-receipt__table-body-piece {
    padding: 10px 0;
    font-size: 12px;
  }
}
.reservation-apartment-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.reservation-apartment-details .reservation-apartment-details__image {
  margin-right: 30px;
  height: 300px;
  width: auto;
}
.reservation-apartment-details
  .reservation-apartment-details__name-capacity-distance-amenities-wrapper
  .reservation-apartment-details__name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #353535;
  font-size: 28px;
  margin-bottom: 30px;
}
.reservation-apartment-details
  .reservation-apartment-details__name-capacity-distance-amenities-wrapper
  .reservation-apartment-details__capacity,
.reservation-apartment-details
  .reservation-apartment-details__name-capacity-distance-amenities-wrapper
  .reservation-apartment-details__distance {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #353535;
  font-size: 20px;
  margin-bottom: 10px;
}
.reservation-apartment-details
  .reservation-apartment-details__name-capacity-distance-amenities-wrapper
  .reservation-apartment-details__amenities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}
.reservation-apartment-details
  .reservation-apartment-details__name-capacity-distance-amenities-wrapper
  .reservation-apartment-details__amenities
  .reservation-apartment-details__amenitie {
  border: 1px solid #868e96;
  border-radius: 8px;
  padding: 15px 50px 15px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 16px;
}
@media screen and (max-width: 680px) {
  .reservation-apartment-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .reservation-apartment-details .reservation-apartment-details__image {
    width: 100%;
    height: auto;
  }
}
.amenities-modal {
  position: absolute;
  right: 0;
  top: 70px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}
.amenities-modal .amenities-modal__column-amenitie {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.amenities-modal .amenities-modal__column-amenitie label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #353535;
  font-size: 18px;
}
.amenities-modal .amenities-modal__column-amenitie input {
  width: 15px;
  height: 15px;
}
@media screen and (max-width: 800px) {
  .amenities-modal {
    left: 0;
    width: 210px;
  }
}
.people-modal {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 70px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  width: 300px;
}
.people-modal .people-modal__counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.people-modal .people-modal__counter-wrapper .people-modal__adults {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 16px;
  margin-right: 20px;
}
.people-modal .people-modal__counter-wrapper .people-modal__counter-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 5px;
}
.people-modal
  .people-modal__counter-wrapper
  .people-modal__counter-icons
  .people-modal__minus-icon {
  margin-right: 15px;
  cursor: pointer;
}
.people-modal
  .people-modal__counter-wrapper
  .people-modal__counter-icons
  .people-modal__counter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 16px;
  margin-right: 15px;
}
.people-modal
  .people-modal__counter-wrapper
  .people-modal__counter-icons
  .people-modal__plus-icon {
  cursor: pointer;
}
.people-modal .people-modal__button {
  background-color: #fff;
  border: 1px solid #003b95;
  border-radius: 4px;
  padding: 10px 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #003b95;
  font-size: 16px;
  cursor: pointer;
}
.date-modal {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 70px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
}
.date-modal .rdrDefinedRangesWrapper {
  display: none;
}
.date-modal .date-modal__button {
  background-color: #fff;
  border: 1px solid #003b95;
  border-radius: 4px;
  padding: 10px 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #003b95;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
