@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.nav {
  position: relative;
  width: 100%;
  padding: 30px 0px 50px;
  background-color: #003b95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav__wrapper {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav__wrapper .nav__logo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  font-size: 34px;
}
.nav .nav__wrapper .nav__user-icon {
  width: 40px;
  height: 40px;
}

.search-bar {
  position: absolute;
  bottom: -30px;
  background-color: #ffb700;
  border-radius: 8px;
  padding: 4px;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-bar .search-bar__date,
.search-bar .search-bar__person-number,
.search-bar .search-bar__amenities {
  padding: 16px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  width: 33%;
  cursor: pointer;
}
.search-bar .search-bar__date p,
.search-bar .search-bar__person-number p,
.search-bar .search-bar__amenities p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #353535;
  font-size: 14px;
  line-height: 20px;
}
.search-bar .search-bar__button {
  border: none;
  padding: 0px 24px;
  border-radius: 4px;
  background-color: #006ce4;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.search-bar .search-bar__button:hover {
  background-color: #003b95;
}

.main {
  padding: 60px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .main__wrapper {
  width: 1100px;
}

.apartment-card {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  padding: 30px;
  margin-bottom: 25px;
}
.apartment-card:last-child {
  margin-bottom: 0;
}
.apartment-card .apartment-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.apartment-card .apartment-card__wrapper .apartment-card__image {
  margin-right: 20px;
  border-radius: 16px;
}
.apartment-card .apartment-card__wrapper .apartment-card__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.apartment-card .apartment-card__wrapper .apartment-card__text-content .apartment-card__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #353535;
  font-size: 32px;
}
.apartment-card .apartment-card__wrapper .apartment-card__text-content .apartment-card__capacity-distance-wrapper .apartment-card__capacity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #343a40;
  font-size: 20px;
  margin-bottom: 10px;
}
.apartment-card .apartment-card__wrapper .apartment-card__text-content .apartment-card__capacity-distance-wrapper .apartment-card__distance {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #343a40;
  font-size: 20px;
}
.apartment-card .apartment-card__wrapper .apartment-card__text-content .apartment-card__button {
  border: 1px solid #003b95;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #003b95;
  font-size: 18px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}